<!DOCTYPE html>
<html lang="en">
<head>
<title>商品</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="Wish shop project">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="/stylesheets/styles/bootstrap4/bootstrap.min.css">
<link href="plugins/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" type="text/css" href="plugins/jquery-ui-1.12.1.custom/jquery-ui.css">
<link rel="stylesheet" type="text/css" href="/stylesheets/productManager.css">

</head>
<body>

<div class="super_container">
	<header class="header">
		<div class="header_inner d-flex flex-row align-items-center justify-content-start">
			<div class="logo"><a href="#">1958寶物交易網</a></div>
			<nav class="main_nav">
				<ul>
					<li><a href="/">主頁</a></li>
					<li><a href="/cart">購物車</a></li>
					<li><a href="/product">商品上架</a></li>
					<li><a href="/checkout">結帳</a></li>
				</ul>
			</nav>
		</div>
	</header>
</div>

<div class="products">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<div class="sidebar_left clearfix">
					<div class="sidebar_section">
						<div class="sidebar_title">商品類別</div>
						<div class="sidebar_section_content">
							<ul>
								<li><a href="#">點數卡</a></li>
								<li><a href="#">代儲</a></li>
								<li><a href="#">代購</a></li>
								<li><a href="#">代練</a></li>
								<li><a href="#">商城道具</a></li>
								<li><a href="#">帳號</a></li>
								<li><a href="#">序號</a></li>
								<li><a href="#">遊戲幣</a></li>
								<li><a href="#">禮包</a></li>
								<li><a href="#">其他</a></li>
							</ul>
						</div>
					</div>
					<div class="sidebar_section">
						<div class="sidebar_title">遊戲</div>
						<div class="sidebar_section_content">
							<ul>
								<li><a href="#">Steam遊戲</a></li>
								<li><a href="#">截薪日2</a></li>
								<li><a href="#">三國無雙８</a></li>
								<li><a href="#">鬥陣特工</a></li>
								<li><a href="#">天命奇御</a></li>
								<li><a href="#">英雄聯盟</a></li>
								<li><a href="#">楓之谷</a></li>
								<li><a href="#">神魔之塔</a></li>
								<li><a href="#">WarFrame</a></li>
								<li><a href="#">通用</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="col-12">
				<div class="product_sorting clearfix">
					<div class="sorting">
						<ul class="item_sorting">
							<li>
								<span class="sorting_text">顯示所有</span>
								<i class="fa fa-caret-down" aria-hidden="true"></i>
								<ul>
									<li class="product_sorting_btn" data-isotope-option='{ "sortBy": "original-order" }'><span>顯示所有</span></li>
									<li class="product_sorting_btn" data-isotope-option='{ "sortBy": "price" }'><span>價格</span></li>
								</ul>
							</li>
							<li>
								<span class="sorting_text">數量</span>
								<span class="num_sorting_text">15</span>
								<i class="fa fa-caret-down" aria-hidden="true"></i>
								<ul>
									<li class="num_sorting_btn"><span>3</span></li>
									<li class="num_sorting_btn"><span>9</span></li>
									<li class="num_sorting_btn"><span>15</span></li>
								</ul>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="row page_num_container">
			<div class="col text-right">
				<ul class="page_nums">
					<li class="active"><a href="#">01</a></li>
					<li><a href="#">02</a></li>
					<li><a href="#">03</a></li>
					<li><a href="#">04</a></li>
					<li><a href="#">05</a></li>
				</ul>
			</div>
		</div>
	</div>

	<div class = 'div0' id = 'divMother'>
		<% for(var i = 0; i < products.length; i++){ %>
			<div class = "div1" >
				<% if(products[i].Picture){%>
				//<script>
				//blob2Base64(new Blob([<%=products[i].Picture.data%>]), <%=products[i].Id%>);
				//console.log(source);
				//console.log(new Blob([document.getElementById("1").innerHTML]));
				//</script>
				<img alt = "HasValue">
				<%}%>
				<%if(!products[i].Picture){%>
				<img alt = "noValue">
				<%}%>
			</div>
			<div class = "div2">
				<text>名稱: <%=products[i].Name;%></text><br>
				<text>種類: <%=products[i].Category;%></text><br>
			</div>
			<div class="div3">
				<text>遊戲: <%=products[i].GameName;%></text><br>
				<text>價格: <%=products[i].Price;%></text><br>
				<text>數量: <%=products[i].Quantity;%></text><br>
			</div>
			<div class = "div4">
				<form method = "post">
				<input class = "fake" name = "Type" value = "delete">
				<input class = "fake" name = "Id" value = <%=products[i].Id%>></input>
				<button type = "submit" class="button cart_button">下架</button>
				</form>
				<form method = "post">
				<input class = "fake" name = "Type" value = "modify">
				<input class = "fake" name = "Id" value = <%=products[i].Id%>></input>
				<button type = "submit" class="button cart_button">修改</button>
				</form>
			</div><p>
		<%}%>
	</div>

	<footer class="footer">
		<div class="container">
			<div class="row">
				<div class="col text-center">
					<div class="footer_logo"><a href="#">1958寶物交易網</a></div>
					<nav class="footer_nav">
						<ul>
							<li><a href="/">回到主頁</a></li>
						</ul>
					</nav>
					<div class="footer_social">
						<ul>
							<li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
							<li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
						</ul>
					</div>
					<div class="copyright">
						Copyright &copy; 2019 - 2025 by Database Group Seven. All Rights reserved.
					</div>
				</div>
			</div>
		</div>
	</footer>

</div>

<script>
function blob2Base64(file, id){
	var reader = new FileReader();
	reader.readAsDataURL(file);
	reader.onloadend = function() {
		var base64data = reader.result.substr(36);
		console.log(base64data);
		document.getElementById(id).src += base64data;
	}
}
</script>
</body>
</html>
